.configuration-controller-container {
  background-color: #475569;
  min-height: 20vh;
  display: flex;
  justify-content: center;
}

.configuration-content-container {
  width: 85%;
}

.layout-header {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 28px;
}

.label-name {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 40px;
}

.checkbox-lists {
  padding-left: 0px;
  list-style-type: none;
}

.checkbox-list {
  margin-bottom: 10px;
}

.body-description {
  color: #475569;
  font-family: Roboto;
  font-size: 16px;
}
